# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
go-cms
go_build_go_cms
*.tmp
routers/*controllers.go
conf/app.conf
project.log
project.*
vendor
.vscode
go.sum